include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt

recursive-include telemorph *.py
recursive-include telemorph *.typed

recursive-exclude examples *.pyc
recursive-exclude tests *.pyc